<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitch Chat Relay</title>
</head>

<body>
    <div class="container row mx-auto my-5">
        <div class="col-sm-5 mx-auto">
            <h1>Twitch Chat Relay</h1>
            <h5>Currently relaying: <span style="font-weight: normal;">
                    <%= currentChannel %>
                </span></h5>
            <div class="my-4">
                <div class="input-group mb-3 w-100">
                    <input id="channelSearch" type="text" class="form-control" placeholder="Channel name">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onClick="search()">Relay</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Filter options</h5>
                        <p class="card-text">Soon</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto card overflow-auto" style="width: 50%; height: 588px; flex-direction: column-reverse;">
            <ul id="messages" class="list-group list-group-flush">
                <li id="connectionMsg" class="list-group-item text-muted">Connecting...</li>
            </ul>
        </div>
    </div>
    <script>
        let messages = [];
        let ids = [];
        setTimeout(function () {
            setInterval(function () {
                const req = new XMLHttpRequest();
                req.overrideMimeType("application/json");
                req.open("GET", "/messages", true);
                req.onload = function () {
                    var content = JSON.parse(req.response);
                    if (content.id != ids[ids.length - 1]) { //so the previous message isn't displayed again each interval
                        messages.push(content.message);
                        ids.push(content.id);
                        if (ids.length > 100) {
                            messages.shift();
                            ids.shift();
                        }
                    }
                    console.log(content)
                    document.getElementById("messages").innerHTML = messages.map(i => `<li class="list-group-item">${i}</li>`).join('');
                }
                req.send();
            }, 200);
        }, 1000);
        function search() {
            var name = document.getElementById("channelSearch").value;
            if (!name || name.match(/^\s*$/)) return; //cancel search if value is empty or just whitespaces
            var content = {
                "name": name
            }
            const req = new XMLHttpRequest();
            req.open("POST", "/search", true);
            req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            req.send(JSON.stringify(content));
            location.reload();
        }
    </script>
</body>

</html>